<!DOCTYPE html>
<html>
    <head>
      <title>The Pet Shop</title>
      <link ref="stylesheet" href="../public/CSS/theme.css">
      <meta charset="UTF-8" />
      <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    </head>
<body>
    <div class="navbar navbar-static-top navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="../views/storefront.html">
                <span class="shop-name">The Pet Shop</span>
            </a>
        </div>

        </button>
        <div class="collapse navbar-collapse navHeaderCollapse">
            <br>
            <ul class="nav navbar-navbar navbar-left">
                <li>
                    <a href="../views/cat.html">Cat Area</a>
                </li>
                <br>
                <li>
                    <a href="../views/dog.html">Dog Area</a>
                </li>
                <br>
                <li>
                    <a href="../views/fish.html">Fish Area</a>
                </li>
            </ul>
        </div>
      </div>
    <div class="cattoy">
        <div class="thumbnail">
            <a href="../media/cattoy1.jpg">
                <img class="img-responsive" src="..//media/cattoy1.jpg" alt="Cat Toy" style="width:60%">
                <div class="caption">
                    <p><b>Name: Wool roll</b></p>
                    <p>Description: Let your cat scratch freely</p>
                    <p>Price: $30</p>
                </div>
            </a>
        </div>
    </div>
    <div class="cattoy">
        <div class="thumbnail">
            <a href="../media/cattoy2.jpg">
                <img class="img-responsive" src="..//media/cattoy2.jpg" alt="Cat Toy" style="width:60%">
                <div class="caption">
                    <p><b>Name: The Roller</b></p>
                    <p>Description: Let your cat exercise </p>
                    <p>Price: $70</p>
                </div>
            </a>
        </div>
    </div>
    <div class="cattoy">
        <div class="thumbnail">
            <a href="../media/cattoy3.webp">
                <img class="img-responsive" src="..//media/cattoy3.webp" alt="Cat Toy" style="width:60%">
                <div class="caption">
                    <p><b>Name: Wool Mouse</b></p>
                    <p>Description: Let your cat practice catching mice </p>
                    <p>Price: $40</p>
                </div>
            </a>
        </div>
    </div>
    <div class="cattoy">
        <div class="thumbnail">
            <a href="../media/toy5.webp">
                <img class="img-responsive" src="..//media/toy5.webp" alt="Cat Toy" style="width:60%">
                <div class="caption">
                    <p><b>Name: Wool Mouse</b></p>
                    <p>Description: Let's play with your cats </p>
                    <p>Price: $29.99</p>
                </div>
            </a>
        </div>
    </div>
</body>